@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
$primary_font: 'Chakra Petch', sans-serif;
$secondary_font: 'Bonheur Royale', cursive;
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
  
nav {
    padding: 10px 15px;
    background-color: transparent;
    width: 100%;
    position: absolute;
}
.logo {
    height: 70px;
}
.nav-ul {
    display: block;
    margin-top: -50px;
    text-align: center;
}
.item {
    display: inline;
    color: #fff;
    padding: 10px 10px;
    
    border: 1px solid #fff;
    border-radius: 2px;
    transition: 0.2s all ease;
    &:hover {
        cursor: pointer;
        background-color: #fff;
        color: black;
        
    }
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: animateBg 6s linear infinite;
//     background-image: linear-gradient(90deg,#2f092a,#260731,#2f092a,#260731);
//     background-size: 300% 100%;
//   @keyframes animateBg {
//     0% { background-position: 0% 0%; }
//     100% { background-position: 100% 0%; }
//   }
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.inner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes fade-in {
    0% {
        opacity: 0; display: none;
    }
    100% {
        opacity: 1; display: flex;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1; display: flex;
    }
    100% {
        opacity: 0; display: none;
    }
}

.inner2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-heading {
    font-style: italic;
    font-size: 2rem;
    position: relative;
    top: 20px;
    opacity: 0;

}
.heading {
    font-family: $primary_font;
    font-size: 6rem;
    position: relative;
    top: 20px;
    opacity: 0;

}
.planet {
    position: absolute;
    height: 100px;
    top: -25px;
    right: 100px;
    animation: spin 60s linear alternate infinite;
    
    &:hover {
        filter: blur(1px);
        
    }
    
}
@keyframes spin {
    0% {
      transform: translate(0, 0) rotateZ(0deg);
    }
    25% {
      transform: translate(-10rem, 10rem) rotateZ(180deg);
    }
    50% {
      transform: translate(-20rem, 20rem) rotateZ(360deg);
    }
    75% {
      transform: translate(-30rem, 30rem) rotateZ(540deg);
    }
    100% {
      transform: translate(-40rem, 40rem) rotateZ(720deg);
    }
}
.button {
    padding: 10px 50px;
    border-radius: 25px;
    background-color: rgb(255, 241, 118);
    color: #000;
    font-size: 1.2rem;
    transition: all 0.2s ease;
    &:hover {
        cursor: pointer;
        background-color: #fff;
    }    
    position: relative;
    top: 20px;
    opacity: 0;

}
.footer {
    position: absolute;
    bottom: 0;
    // background-color: purple;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $primary_font;
    p {
        color: rgb(107, 106, 106)
    }
    span {
        color: rgb(107, 106, 106);
    }
    i {
        padding: 0px 5px;
        color: rgb(107, 106, 106);
    }
}
